---
import type { ValidContentEntrySlug } from 'astro:content';
import { getEntries } from 'astro:content';

import type { ContextSlice } from '@/types/context';
import { cn } from '@/utils/cn';
import type { Configurable } from '@/utils/configurable';
import { shouldDisplay } from '@/utils/configurable';
import { getGlobalContext } from '@/utils/get-global-context';

import SkillWithoutLevel from './skill-without-level.astro';

interface Props {
  /** A list of skills in the form of Astro content collection references. */
  skillRefs: { collection: 'skills'; slug: ValidContentEntrySlug<'skills'> }[];

  /** The label for the list of skills. Provide `null` to rendeer skills without a label. */
  label?: Configurable<string>;

  /** Names (slugs) of the skills to include. */
  include?: ValidContentEntrySlug<'skills'>[];

  /** Names (slugs) of the skills to exclude. */
  exclude?: ValidContentEntrySlug<'skills'>[];

  /** Additional class applied to the container. */
  class?: string;
}

const context = getGlobalContext<ContextSlice<'i18n'>>(Astro);

const { skillRefs, label = context.i18n.t('related_skills'), include, exclude, class: className } = Astro.props;

let skillEntries = (await getEntries(skillRefs)).map((entry) => ({ ...entry, body: '' }));

if (include) {
  skillEntries = skillEntries.filter((entry) => include.includes(entry.slug));
}

if (exclude) {
  skillEntries = skillEntries.filter((entry) => !exclude.includes(entry.slug));
}
---

<div class={cn('space-y-1.5', className)}>
  {shouldDisplay(label) && <div class="text-sm font-semibold text-color-text-title sm:text-base">{label}:</div>}
  <div class="flex flex-wrap gap-x-3 gap-y-2">
    {skillEntries.map((entry) => <SkillWithoutLevel {entry} />)}
  </div>
</div>
