# Installs dependencies with exact version instead of using semver range operator.
save-exact = true

# Enforces usage of node and package manager versions defined in package.json "engines" field.
engine-strict = true

# Allows installing packages even when their peer dependencies are not met.
legacy-peer-deps = true
