---
import type { HTMLAttributes } from 'astro/types';

import BaseLayout from '@/layouts/base-layout.astro';
import GrayscaleVariables from '@/styles/colors/dusk/slate.astro';
import ElementStyleVariables from '@/styles/colors/elements/default.astro';
import PrimaryColorVariables from '@/styles/colors/primary/indigo.astro';
import FontStyles from '@/styles/fonts/inter.astro';
import { cn } from '@/utils/cn';
import ThemeSwitcher from '@/web/components/theme-switcher.astro';

interface Props extends HTMLAttributes<'main'> {}

const { class: className, ...props } = Astro.props;
---

<BaseLayout bodyClass="bg-color-bg-body antialiased sm:p-6 md:p-8 lg:p-10">
  <Fragment slot="head">
    <FontStyles />
    <GrayscaleVariables />
    <PrimaryColorVariables />
    <ElementStyleVariables />
    <slot name="head" />
  </Fragment>
  <ThemeSwitcher />
  <main
    class={cn('mx-auto grid w-full max-w-screen-lg bg-color-bg-card p-6 shadow-2xl sm:rounded-3xl sm:p-10', className)}
    {...props}
  >
    <slot />
  </main>
</BaseLayout>
