---
import type { HTMLAttributes } from 'astro/types';

import BaseLayout from '@/layouts/base-layout.astro';
import SlateDusk from '@/styles/dusk-color/slate.astro';
import InterFont from '@/styles/fonts/inter.astro';
import { cn } from '@/utils/cn';
import ThemeSwitcher from '@/web/components/theme-switcher.astro';

interface Props extends HTMLAttributes<'main'> {}

const { class: className, ...props } = Astro.props;
---

<BaseLayout bodyClass="bg-color-bg-body antialiased sm:p-6 md:p-8 lg:p-10">
  <Fragment slot="head">
    <InterFont />
    <SlateDusk />
    <slot name="head" />
  </Fragment>
  <ThemeSwitcher />
  <main
    class={cn('mx-auto grid w-full max-w-screen-lg bg-color-bg-card p-6 shadow-2xl sm:rounded-3xl sm:p-10', className)}
    {...props}
  >
    <slot />
  </main>
</BaseLayout>

<style is:global>
  :root {
    /*-----------------------------
      FUNCTIONAL COLORS
    -----------------------------*/

    &:not(.dark) {
      color-scheme: light;

      --primary: 243 75% 59%;
      --primary-light: 228 96% 89%;
      --primary-contrast: var(--white);

      --text-title: var(--dusk-900);
      --text-primary: var(--dusk-700);
      --text-secondary: var(--dusk-500);

      --icon-light: var(--dusk-400);
      --icon-main: var(--dusk-500);
      --icon-dark: var(--dusk-600);

      --border: var(--dusk-200);
      --separator: var(--dusk-300);

      --bg-body: var(--dusk-50);
      --bg-card: var(--white);
      --bg-popover: var(--white);

      --bg-light: var(--dusk-100);
      --bg-main: var(--dusk-200);
      --bg-dark: var(--dusk-500);
    }

    &.dark {
      color-scheme: dark;

      --primary: 243 75% 59%;
      --primary-light: 243 75% 59%;
      --primary-contrast: var(--white);

      --text-title: var(--white);
      --text-primary: var(--dusk-50);
      --text-secondary: var(--dusk-100);

      --icon-light: var(--dusk-500);
      --icon-main: var(--dusk-400);
      --icon-dark: var(--dusk-300);

      --border: var(--dusk-800);
      --separator: var(--dusk-700);

      --bg-body: var(--dusk-950);
      --bg-card: var(--dusk-900);
      --bg-popover: var(--dusk-950);

      --bg-light: var(--dusk-800);
      --bg-main: var(--dusk-700);
      --bg-dark: var(--dusk-400);
    }
  }
</style>
