---
import type { ValidContentEntrySlug } from 'astro:content';
import { getEntries } from 'astro:content';

import { cn } from '@/utils/cn';

import SkillWithoutLevel from './skill-without-level.astro';

interface Props {
  class?: string;
  label?: string;
  skillRefs: {
    collection: 'skills';
    slug: ValidContentEntrySlug<'skills'>;
  }[];
}

const { skillRefs, label = 'Skills I developed:', class: className } = Astro.props;

const skillEntries = (await getEntries(skillRefs)).map((entry) => ({ ...entry, body: '' }));
---

<div class={cn('flex flex-wrap gap-1', className)}>
  <div class="text-sm font-semibold leading-6 text-color-text-title">{label}</div>
  <div class="flex flex-wrap gap-1.5">
    {skillEntries.map((entry) => <SkillWithoutLevel {entry} />)}
  </div>
</div>
