---
import type { CollectionEntry } from 'astro:content';

import { Icon } from '@/components/icon';

import Popover from '../popover.astro';

interface Props {
  interestEntry: CollectionEntry<'interests'>;
}

const {
  interestEntry: { data: interest, body, render },
} = Astro.props;

const Description = body.trim().length > 0 && (await render()).Content;
---

<li class="flex flex-wrap gap-6 rounded border border-color-border px-3 py-2 sm:px-4 sm:py-3">
  <div class="flex items-center gap-2">
    {interest.icon && <Icon name={interest.icon} class="size-5 text-color-icon-dark" />}
    <div class="text-sm font-medium text-color-text-primary sm:text-base">
      {interest.name}
    </div>
  </div>
  {
    Description && (
      <Popover>
        <button slot="trigger" class="ml-auto">
          <Icon
            name="fa6-solid:circle-info"
            class="size-4 text-color-icon-light transition-colors hover:text-color-icon-light/80"
          />
        </button>
        <Description />
      </Popover>
    )
  }
</li>
