---
import type { HTMLAttributes } from 'astro/types';

import BaseLayout from '@/components/base-layout.astro';
import { cn } from '@/utils/cn';
import { Analytics } from '@/web/components/analytics';
import ThemeSwitcher from '@/web/components/theme-switcher.astro';

interface Props extends HTMLAttributes<'main'> {
  bodyClass?: string;
}

const { class: className, bodyClass, ...props } = Astro.props;
---

<BaseLayout bodyClass={cn('bg-color-bg-body sm:p-6 md:p-8 lg:p-10', bodyClass)}>
  <Fragment slot="head">
    <slot name="head" />
    <Analytics />
  </Fragment>
  <ThemeSwitcher />
  <main
    class={cn(
      'relative mx-auto grid w-full max-w-screen-lg bg-color-bg-card p-6 shadow-2xl sm:rounded-3xl sm:p-10',
      className,
    )}
    {...props}
  >
    <slot />
  </main>
</BaseLayout>
