---
import type { CollectionEntry } from 'astro:content';

import { cn } from '@/utils/cn';

import Icon from '../icon.astro';
import Linkable from '../linkable.astro';
import Popover from '../popover.astro';

interface Props {
  skillEntry: CollectionEntry<'skills'>;
}

const {
  skillEntry: { data: skill, body, render },
} = Astro.props;

const Description = body.trim().length > 0 && (await render()).Content;
---

<li
  class="flex items-center gap-2 overflow-hidden rounded bg-slate-100 pl-2"
  style={skill.color && { color: skill.color }}
>
  {skill.icon && <Icon name={skill.icon} class="size-4" />}
  <Linkable class={cn('py-1 text-sm font-medium text-slate-700', !Description && 'pr-2')} href={skill.url}>
    {skill.name}
  </Linkable>
  {
    Description && (
      <Popover>
        <button
          slot="trigger"
          class="group flex size-7 items-center justify-center bg-slate-200 transition-colors hover:bg-slate-300/80"
        >
          <Icon name="fa6-solid:circle-info" class="size-4 text-slate-400" />
        </button>
        <div
          slot="popover"
          class="prose max-w-96 rounded-lg border border-slate-200 bg-white px-4 py-3 text-slate-700 shadow-md"
        >
          <Description />
        </div>
      </Popover>
    )
  }
</li>
