---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '@/utils/cn';

export interface Props extends HTMLAttributes<'nav'> {
  className?: string;
}

const { class: className, ...props } = Astro.props;
---

<nav data-sidebar class={cn(['absolute -right-18 z-10 hidden h-full w-max xl:block', className])} {...props}>
  <ul class={cn('sticky top-4 grid h-fit gap-2 rounded-lg bg-color-bg-card p-2 shadow-lg')}>
    <slot />
  </ul>
</nav>
