---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import Achievement from '@/web/components/achievement.astro';
import Basics from '@/web/components/basics.astro';
import Education from '@/web/components/education.astro';
import Favorite from '@/web/components/favorite.astro';
import Interest from '@/web/components/interest.astro';
import Job from '@/web/components/job.astro';
import { Metadata } from '@/web/components/metadata';
import Project from '@/web/components/project.astro';
import Reference from '@/web/components/reference.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Skill } from '@/web/components/skills';
import MainLayout from '@/web/layouts/main-layout.astro';
import { initializeWebContext } from '@/web/utils/initialize-web-context';

initializeWebContext(Astro, {
  locale: enUS,
  dateFormat: 'MMMM yyyy',
  theme: 'custom',
  pdf: {
    path: '/pdf/index.pdf',
    label: 'Download resume',
    filename: 'mark-freeman-resume.pdf',
  },
});
---

<MainLayout>
  <Metadata entry={getEntry('metadata', 'main')} slot="head" />
  <Basics entry={getEntry('basics', 'main')} />
  <Section>
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection>
        <SubsectionTitle>Technologies</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill withLevel entry={getEntry('skills', 'astro')} />
          <Skill withLevel entry={getEntry('skills', 'drizzle-orm')} />
          <Skill withLevel entry={getEntry('skills', 'eslint')} />
          <Skill withLevel entry={getEntry('skills', 'next')} />
          <Skill withLevel entry={getEntry('skills', 'playwright')} />
          <Skill withLevel entry={getEntry('skills', 'postgresql')} />
          <Skill withLevel entry={getEntry('skills', 'react-testing-library')} />
          <Skill withLevel entry={getEntry('skills', 'react')} />
          <Skill withLevel entry={getEntry('skills', 'shadcn')} />
          <Skill withLevel entry={getEntry('skills', 'tailwind')} />
          <Skill withLevel entry={getEntry('skills', 'tanstack-query')} />
          <Skill withLevel entry={getEntry('skills', 'trpc')} />
          <Skill withLevel entry={getEntry('skills', 'typescript')} />
          <Skill withLevel entry={getEntry('skills', 'vitest')} />
        </GridList>
      </Subsection>
      <Subsection>
        <SubsectionTitle>Tools</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'neon')} />
          <Skill entry={getEntry('skills', 'sentry')} />
          <Skill entry={getEntry('skills', 'stripe')} />
          <Skill entry={getEntry('skills', 'vercel')} />
        </HorizontalList>
      </Subsection>
      <Subsection>
        <SubsectionTitle>Languages</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'english')} />
          <Skill entry={getEntry('skills', 'spanish')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section title="Work">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getEntry('jobs', 'meta')} />
      <Separator />
      <Job entry={getEntry('jobs', 'shopify')} />
      <Separator />
      <Job entry={getEntry('jobs', 'codepen')} />
    </VerticalList>
  </Section>
  <Section>
    <SectionTitle>Projects</SectionTitle>
    <VerticalList class="gap-10">
      <Project entry={getEntry('projects', 'moni-buddy')} />
      <Separator />
      <Project entry={getEntry('projects', 'user-board')} />
    </VerticalList>
  </Section>
  <Section>
    <SectionTitle>References</SectionTitle>
    <VerticalList class="gap-10">
      <Reference entry={getEntry('references', 'jane-smith')} />
      <Separator />
      <Reference entry={getEntry('references', 'john-doe')} />
    </VerticalList>
  </Section>
  <Section>
    <SectionTitle>Achievements</SectionTitle>
    <VerticalList class="gap-8">
      <Achievement entry={getEntry('achievements', 'advanced-react-developer')} />
      <Achievement entry={getEntry('achievements', 'google-developer-expert')} />
      <Achievement entry={getEntry('achievements', 'reactathon-hackathon')} />
      <Achievement entry={getEntry('achievements', 'redux-toolkit-contributor')} />
    </VerticalList>
  </Section>
  <Section>
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getEntry('education', 'master')} />
      <Separator />
      <Education entry={getEntry('education', 'bachelor')} />
    </VerticalList>
  </Section>
  <Section>
    <SectionTitle>Favorites</SectionTitle>
    <VerticalList class="gap-10">
      <Subsection>
        <SubsectionTitle>Books I read</SubsectionTitle>
        <GridList class="gap-4 lg:grid-cols-2">
          <Favorite icon="material-symbols:book-2" entry={getEntry('favorites', 'books/domain-driven-design')} />
          <Favorite icon="material-symbols:book-2" entry={getEntry('favorites', 'books/grokkking-simplicity')} />
          <Favorite
            icon="material-symbols:book-2"
            entry={getEntry('favorites', 'books/learning-javascript-design-patterns')}
          />
          <Favorite icon="material-symbols:book-2" entry={getEntry('favorites', 'books/the-pragmatic-programmer')} />
        </GridList>
      </Subsection>
      <Subsection>
        <SubsectionTitle>Articles I come back to</SubsectionTitle>
        <GridList class="gap-4 lg:grid-cols-2">
          <Favorite
            withSource
            icon="material-symbols:article"
            entry={getEntry('favorites', 'articles/client-side-architecture-basics')}
          />
          <Favorite
            withSource
            icon="material-symbols:article"
            entry={getEntry('favorites', 'articles/future-facing-frontend-architectures')}
          />
          <Favorite
            withSource
            icon="material-symbols:article"
            entry={getEntry('favorites', 'articles/practical-react-query')}
          />
          <Favorite
            withSource
            icon="material-symbols:article"
            entry={getEntry('favorites', 'articles/the-least-worst-architecture')}
          />
        </GridList>
      </Subsection>
      <Subsection>
        <SubsectionTitle>People I learn from</SubsectionTitle>
        <GridList class="gap-4 md:grid-cols-2 lg:grid-cols-3">
          <Favorite icon="material-symbols:person" entry={getEntry('favorites', 'people/addy-osmani')} />
          <Favorite icon="material-symbols:person" entry={getEntry('favorites', 'people/anthony-fu')} />
          <Favorite icon="material-symbols:person" entry={getEntry('favorites', 'people/dan-abramov')} />
          <Favorite icon="material-symbols:person" entry={getEntry('favorites', 'people/josh-w-comeau')} />
          <Favorite icon="material-symbols:person" entry={getEntry('favorites', 'people/kent-c-dodds')} />
          <Favorite icon="material-symbols:person" entry={getEntry('favorites', 'people/lee-robinson')} />
        </GridList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section>
    <SectionTitle>Interests</SectionTitle>
    <HorizontalList class="gap-x-4 gap-y-3">
      <Interest entry={getEntry('interests', 'cooking')} />
      <Interest entry={getEntry('interests', 'running')} />
      <Interest entry={getEntry('interests', 'technical-blogging')} />
      <Interest entry={getEntry('interests', 'video-montage')} />
    </HorizontalList>
  </Section>
</MainLayout>
