---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { Icon } from '@/components/icon';
import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import { Basics } from '@/web/components/basics';
import Education from '@/web/components/education.astro';
import Interest from '@/web/components/interest.astro';
import Job from '@/web/components/job.astro';
import Layout from '@/web/components/layout.astro';
import { Metadata } from '@/web/components/metadata';
import Project from '@/web/components/project.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Sidebar, SidebarItem } from '@/web/components/sidebar';
import { Skill } from '@/web/components/skills';
import { initializeWebContext } from '@/web/utils/initialize-web-context';

await initializeWebContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  theme: 'custom',
  pdf: {
    path: '/generated/pdf/index.pdf',
    label: 'Download resume',
    filename: 'milosz-godyn-resume.pdf',
  },
});
---

<Layout class="gap-16 [&_section]:scroll-mt-8">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
    <Metadata entry={getEntry('metadata', 'main')} />
  </Fragment>
  <Sidebar>
    <SidebarItem sectionId="basics" icon="fa6-solid:user">About me</SidebarItem>
    <SidebarItem sectionId="skills" icon="fa6-solid:bars-progress">Skills</SidebarItem>
    <SidebarItem sectionId="jobs" icon="fa6-solid:suitcase">Work experience</SidebarItem>
    <SidebarItem sectionId="projects" icon="fa6-solid:rocket">Projects</SidebarItem>
    <SidebarItem sectionId="education" icon="fa6-solid:graduation-cap">Education</SidebarItem>
  </Sidebar>
  <Basics entry={getEntry('basics', 'main')} id="basics" />
  <Section class="gap-8" id="skills">
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection class="gap-2">
        <SubsectionTitle>Technologies</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill withLevel entry={getEntry('skills', 'astro')} />
          <Skill withLevel entry={getEntry('skills', 'java')} />
          <Skill withLevel entry={getEntry('skills', 'spring')} />
          <Skill withLevel entry={getEntry('skills', 'hibernate')} />
          <Skill withLevel entry={getEntry('skills', 'python')} />
          <Skill withLevel entry={getEntry('skills', 'oracledb')} />
          <Skill withLevel entry={getEntry('skills', 'postgresql')} />
          <Skill withLevel entry={getEntry('skills', 'aws')} />
          <Skill withLevel entry={getEntry('skills', 'talend')} />
          <Skill withLevel entry={getEntry('skills', 'project-management')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Tools</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'intellij')} />
          <Skill entry={getEntry('skills', 'vsc')} />
          <Skill entry={getEntry('skills', 'git')} />
          <Skill entry={getEntry('skills', 'chat-gpt')} />
          <Skill entry={getEntry('skills', 'deepl')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Languages</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'polish')} />
          <Skill entry={getEntry('skills', 'english')} />
          <Skill entry={getEntry('skills', 'german')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8" id="jobs">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getEntry('jobs', 'kontial')} />
      <Separator />
      <Job entry={getEntry('jobs', 'cisco')} />
      <Separator />
      <Job entry={getEntry('jobs', 'capgemini')} />
    </VerticalList>
    <Separator />
    <div>
      <span style="display: flex; align-items: center;">
        I am in IT industry since 2016. To see my full employment history, certificates and references, visit my&nbsp;
        <a
          href="https://www.linkedin.com/in/milgodyn/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex size-7 items-center justify-center rounded bg-color-bg-main"
        >
          <Icon class="size-3 text-color-icon-dark" name="fa6-brands:linkedin-in" />
        </a>
        &nbsp;profile.
      </span>
    </div>
  </Section>
  <Section class="gap-8" id="projects">
    <SectionTitle>Projects</SectionTitle>
    <VerticalList class="gap-10">
      <Project entry={getEntry('projects', 'ascii-art')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="education">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getEntry('education', 'bachelor')} />
    </VerticalList>
  </Section>
  <Section class="gap-8">
    <SectionTitle>Interests</SectionTitle>
    <HorizontalList class="gap-x-4 gap-y-3">
      <Interest entry={getEntry('interests', 'kettlebell')} />
      <Interest entry={getEntry('interests', 'gaming')} />
      <Interest entry={getEntry('interests', 'martial-arts')} />
      <Interest entry={getEntry('interests', 'chess')} />
    </HorizontalList>
  </Section>
</Layout>
