---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '@/utils/cn';

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props;
---

<h3 class={cn('mb-2 font-header text-lg font-bold text-color-text-title sm:text-xl', className)} {...props}>
  <slot />
</h3>
