---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '@/utils/cn';

interface Props extends HTMLAttributes<'h3'> {}

const { class: className, ...props } = Astro.props;
---

<h3 class={cn('font-header text-lg font-bold text-color-text-title sm:text-xl', className)} {...props}>
  <slot />
</h3>
