---
import type { HTMLAttributes } from 'astro/types';

import BaseLayout from '@/components/base-layout.astro';
import { cn } from '@/utils/cn';

interface Props extends HTMLAttributes<'main'> {
  bodyClass?: string;
}

const { class: className, bodyClass, ...props } = Astro.props;
---

<BaseLayout bodyClass={cn('bg-white', bodyClass)}>
  <slot name="head" slot="head" />
  <main class={cn('mx-auto grid w-[720px]', className)} {...props}>
    <slot />
  </main>
</BaseLayout>

<style is:global>
  @page {
    size: A4;
    margin: 10mm;
  }
</style>
