---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import Basics from '@/pdf/components/basics.astro';
import Education from '@/pdf/components/education.astro';
import Footer from '@/pdf/components/footer.astro';
import Interest from '@/pdf/components/interest.astro';
import Job from '@/pdf/components/job.astro';
import Layout from '@/pdf/components/layout.astro';
import Project from '@/pdf/components/project.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/pdf/components/section';
import { Skill } from '@/pdf/components/skills';
import { initializePdfContext } from '@/pdf/utils/initialize-pdf-context';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';

await initializePdfContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  website: '/',
});
---

<Layout class="gap-6">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
  </Fragment>
  <Basics entry={getEntry('basics', 'main-pdf')} />
  <Section class="gap-4">
    <SectionTitle>Skills</SectionTitle>
    <VerticalList class="gap-4">
      <Subsection class="gap-2">
        <SubsectionTitle>Technologies</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill withLevel entry={getEntry('skills', 'java')} />
          <Skill withLevel entry={getEntry('skills', 'spring')} />
          <Skill withLevel entry={getEntry('skills', 'hibernate')} />
          <Skill withLevel entry={getEntry('skills', 'python')} />
          <Skill withLevel entry={getEntry('skills', 'oracledb')} />
          <Skill withLevel entry={getEntry('skills', 'postgresql')} />
          <Skill withLevel entry={getEntry('skills', 'aws')} />
          <Skill withLevel entry={getEntry('skills', 'talend')} />
          <Skill withLevel entry={getEntry('skills', 'project-management')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Tools</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'intellij')} />
          <Skill entry={getEntry('skills', 'vsc')} />
          <Skill entry={getEntry('skills', 'git')} />
          <Skill entry={getEntry('skills', 'chat-gpt')} />
          <Skill entry={getEntry('skills', 'deepl')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>Languages</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getEntry('skills', 'polish')} />
          <Skill entry={getEntry('skills', 'english')} />
          <Skill entry={getEntry('skills', 'german')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Work</SectionTitle>
    <VerticalList class="gap-6">
      <Job entry={getEntry('jobs', 'kontial')} />
      <Separator />
      <Job entry={getEntry('jobs', 'cisco')} />
      <Separator />
      <Job entry={getEntry('jobs', 'capgemini')} />
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Projects</SectionTitle>
    <VerticalList class="gap-6">
      <Project entry={getEntry('projects', 'ascii-art')} />
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Education</SectionTitle>
    <VerticalList class="gap-6">
      <Education entry={getEntry('education', 'bachelor')} />
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>Interests</SectionTitle>
    <HorizontalList class="gap-3">
      <Interest entry={getEntry('interests', 'kettlebell')} />
      <Interest entry={getEntry('interests', 'gaming')} />
      <Interest entry={getEntry('interests', 'martial-arts')} />
      <Interest entry={getEntry('interests', 'chess')} />
    </HorizontalList>
  </Section>
  <Footer>
    I hereby give consent for my personal data included in my application to be processed for the purposes of the
    recruitment process.
  </Footer>
</Layout>
