---
import type { CollectionEntry } from 'astro:content';

import Book from './book.astro';

interface Props {
  entries: CollectionEntry<'favorites'>[];
  icon?: string;
}

const { entries, icon } = Astro.props;
---

<div class="grid gap-x-4 gap-y-3 lg:grid-cols-2">
  {entries.map((bookEntry) => <Book {bookEntry} {icon} />)}
</div>
