---
import type { NestedCollectionEntry } from '@/types/nested-collection-entry';

import Book from './book.astro';

interface Props {
  entries: NestedCollectionEntry<'favorites', 'books'>[];
}

const { entries } = Astro.props;

if (entries.some((entry) => entry.data.type !== 'book')) {
  throw new Error('All entries must be books');
}
---

<div class="space-y-6">
  {entries.map((bookEntry) => <Book {bookEntry} />)}
</div>
