---
import { formatDate } from '@/utils/format-date';

interface Props {
  startDate: Date;
  endDate?: Date;
  class?: string;
}

const startDate = formatDate(Astro.props.startDate, Astro);
const endDate = Astro.props.endDate ? formatDate(Astro.props.endDate, Astro) : 'Current';
---

<div class={Astro.props.class}>
  {startDate} - {endDate}
</div>
