---
import { context } from '@/context';

interface Props {
  startDate: Date;
  endDate?: Date;
}

const startDate = context.formatDate(Astro.props.startDate);
const endDate = Astro.props.endDate ? context.formatDate(Astro.props.endDate) : 'Current';
---

<div class="text-sm font-normal text-color-text-primary sm:text-base">
  {startDate} - {endDate}
</div>
