---
import type { CollectionEntry } from 'astro:content';

import { dateRangeSorter } from '@/utils/date-range-sorter';

import EducationItem from './education-item.astro';

interface Props {
  educationEntries: CollectionEntry<'education'>[];
}

const { educationEntries } = Astro.props;
---

<div class="space-y-10">
  {
    educationEntries
      .map((educationEntry) => ({
        educationEntry,
        startDate: educationEntry.data.startDate,
        endDate: educationEntry.data.endDate,
      }))
      .toSorted(dateRangeSorter)
      .map(({ educationEntry }, i) => (
        <>
          <EducationItem educationEntry={educationEntry} />
          {i < educationEntries.length - 1 && <hr />}
        </>
      ))
  }
</div>
