---
import type { CollectionEntry } from 'astro:content';

import Icon from './icon.astro';
import Popover from './popover.astro';

interface Props {
  interestEntry: CollectionEntry<'interests'>;
}

const {
  interestEntry: { data: interest, body, render },
} = Astro.props;

const Description = body.trim().length > 0 && (await render()).Content;
---

<div class="flex flex-wrap gap-6 rounded border border-slate-200 bg-slate-50 px-3 py-2 sm:px-4 sm:py-3">
  <div class="flex items-center gap-2">
    {interest.icon && <Icon name={interest.icon} class="size-5 text-slate-600" />}
    <div class="text-sm font-medium text-slate-900 sm:text-base">
      {interest.name}
    </div>
  </div>
  {
    Description && (
      <Popover>
        <button slot="trigger" class="ml-auto">
          <Icon name="fa6-solid:circle-info" class="text-slate-400 transition-colors hover:text-slate-400/80" />
        </button>
        <div
          slot="popover"
          class="prose max-w-96 rounded-lg border border-slate-200 bg-white px-4 py-3 text-slate-700 shadow-md"
        >
          <Description />
        </div>
      </Popover>
    )
  }
</div>
