---
import type { Render } from 'astro:content';

import { cn } from '@/utils/cn';

interface Props {
  class?: string;
  render: () => Render['.mdx'] | Render['.md'];
}

const { render, class: className } = Astro.props;

const { Content } = await render();
---

<div class={cn('prose prose-sm max-w-none text-justify sm:prose-base prose-ul:ps-4 prose-li:ps-0', className)}>
  <Content />
</div>
