---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
  <div class="relative mb-8 w-fit">
    <hr class="absolute bottom-0 h-3 w-full bg-indigo-200" />
    <h2 class="relative pr-2 text-3xl font-black text-slate-950 sm:text-4xl">
      {title}
    </h2>
  </div>
  <div class="space-y-8">
    <slot />
  </div>
</section>
