---
import { cn } from '@/utils/cn';

interface Props {
  title: string;
  class?: string;
  contentClass?: string;
}

const { title, class: className, contentClass } = Astro.props;
---

<section class={cn('grid gap-8', className)}>
  <div class="relative w-fit">
    <hr class="absolute bottom-0 h-3 w-full bg-indigo-200" />
    <h2 class="relative pr-2 text-3xl font-black text-slate-950 sm:text-4xl">
      {title}
    </h2>
  </div>
  <div class={contentClass}>
    <slot />
  </div>
</section>
