---
import type { CollectionEntry } from 'astro:content';

import { dateRangeSorter } from '@/utils/date-range-sorter';

import WorkItem from './work-item.astro';

interface Props {
  workEntries: CollectionEntry<'work'>[];
}

const { workEntries } = Astro.props;
---

<div class="space-y-10">
  {
    workEntries
      .map((workEntry) => ({
        workEntry,
        startDate: workEntry.data.startDate,
        endDate: workEntry.data.endDate,
      }))
      .toSorted(dateRangeSorter)
      .map(({ workEntry }, i) => (
        <>
          <WorkItem workEntry={workEntry} />
          {i < workEntries.length - 1 && <hr />}
        </>
      ))
  }
</div>
