---
import type { HTMLAttributes } from 'astro/types';

import { cn } from '@/utils/cn';

interface Props extends HTMLAttributes<'section'> {}

const { class: className, ...props } = Astro.props;
---

<section class={cn('grid', className)} {...props}>
  <slot />
</section>
