---
import type { HTMLAttributes } from 'astro/types';

import type { ContextSlice } from '@/types/context';
import { cn } from '@/utils/cn';
import { getGlobalContext } from '@/utils/get-global-context';

interface Props extends Omit<HTMLAttributes<'a'>, 'href' | 'download'> {}

const { class: className, ...props } = Astro.props;
const context = getGlobalContext<ContextSlice<'pdf'>>(Astro);
---

{
  context.pdf ? (
    <a
      data-pdf-button
      href={context.pdf.path}
      class={cn(
        'flex h-9 items-center justify-center text-nowrap rounded-md bg-color-button-bg px-4 font-medium text-color-button-bg-contrast transition-colors hover:bg-color-button-bg/90',
        className,
      )}
      download={context.pdf.filename}
      {...props}
    >
      {context.pdf.label}
    </a>
  ) : null
}

<script>
  import { trackEvent } from '@/web/utils/analytics';

  const button = document.querySelector('[data-pdf-button]');

  if (button) {
    button.addEventListener('click', () => trackEvent('pdf_downloaded'));
  }
</script>
