---
import type { HTMLAttributes } from 'astro/types';

import type { ContextSlice } from '@/types/context';
import { cn } from '@/utils/cn';
import { getGlobalContext } from '@/utils/get-global-context';

interface Props extends Omit<HTMLAttributes<'a'>, 'href' | 'download'> {}

const { class: className, ...props } = Astro.props;
const context = getGlobalContext<ContextSlice<'pdf'>>(Astro);
---

{
  context.pdf ? (
    <a
      href={context.pdf.path}
      class={cn(
        'flex h-9 items-center justify-center text-nowrap rounded-md bg-color-primary-dark px-4 font-medium text-color-primary-contrast transition-colors hover:bg-color-primary-dark/90',
        className,
      )}
      download={context.pdf.filename}
      data-umami-event="Download PDF"
      {...props}
    >
      {context.pdf.label}
    </a>
  ) : null
}
