---
import { cn } from '@/utils/cn';

interface Props {
  title: string;
  class?: string;
  contentClass?: string;
}

const { title, class: className, contentClass } = Astro.props;
---

<div class={cn('space-y-2', className)}>
  <h3 class="font-header text-base font-black text-color-text-title">{title}</h3>
  <div class={contentClass}>
    <slot />
  </div>
</div>
