---
import { context } from '@/context';
import { cn } from '@/utils/cn';

interface Props {
  bodyClass?: string;
  mainClass?: string;
}

const { bodyClass, mainClass } = Astro.props;
---

<!doctype html>
<html lang={context.getLang()}>
  <head>
    <slot name="head" />
  </head>
  <body class={cn('bg-background text-foreground antialiased sm:p-6 md:p-8 lg:p-10', bodyClass)}>
    <main
      class={cn('mx-auto w-full max-w-screen-xl space-y-20 bg-white p-6 shadow-2xl sm:rounded-3xl sm:p-10', mainClass)}
    >
      <slot />
    </main>
  </body>
</html>
