---
import type { HTMLAttributes } from 'astro/types';

import BaseLayout from '@/layouts/base-layout.astro';
import GrayscaleVariables from '@/styles/colors/dusk/slate.astro';
import ElementStyleVariables from '@/styles/colors/elements/default.astro';
import PrimaryColorVariables from '@/styles/colors/primary/indigo.astro';
import FontStyles from '@/styles/fonts/inter.astro';
import { cn } from '@/utils/cn';

interface Props extends HTMLAttributes<'main'> {}

const { class: className, ...props } = Astro.props;
---

<BaseLayout bodyClass="bg-color-bg-card antialiased">
  <Fragment slot="head">
    <FontStyles />
    <GrayscaleVariables />
    <PrimaryColorVariables />
    <ElementStyleVariables />
    <slot name="head" />
  </Fragment>
  <main class={cn('mx-auto grid w-[720px]', className)} {...props}>
    <slot />
  </main>
</BaseLayout>
